.*
!.gitignore
!.gitattributes
*.pyc
*.log
*.Log
*.out
_*

src/
env/
programs/
core

results/*
!results/summary

!results/variants
results/variants/*
!results/variants/nucleotide_variant_table.csv

!results/counts
results/counts/*
!results/counts/variant_counts.csv

!results/binding_Kds
results/binding_Kds/*
!results/binding_Kds/binding_Kds.csv

!results/expression_meanFs
results/expression_meanFs/*
!results/expression_meanFs/expression_meanFs.csv

!results/final_variant_scores/
results/final_variant_scores/*
!results/final_variant_scores/wt_variant_scores.csv
!results/final_variant_scores/mut_variant_scores.csv
