.*
!.gitignore
!.gitattributes
*.pyc
*.log
*.Log
*.out
_*

src/
env/
programs/

results/*
!results/summary

!results/variants
results/variants/*
!results/variants/nucleotide_variant_table.csv

!results/counts
results/counts/*
!results/counts/variant_counts.csv
